<div class="location-image" *ngIf="getLocationImage()">
  <img [src]="getLocationImage()" [alt]="gameState?.currentLocation" />
</div>

<div class="conversation-message message" *ngIf="isMineFlooded()">
  {{ getMineFloodedMessage() }}
</div>

<div class="actions" *ngIf="gameState?.currentLocation === Locations.FISHERY_GROUND">
  <button id="start-fishing-btn" class="action-btn"
          (click)="onStartFishing()"
          [disabled]="!canStartFishing()">
    {{ canStartFishing() ? 'Start fishing' : 'You need a fishing net to start fishing' }}
  </button>
</div>
<div class="actions" *ngIf="gameState?.currentLocation === Locations.FRUITS_OF_THE_FOREST">
  <button id="start-picking-forest-fruits-btn" class="action-btn" (click)="onStartPickingForestFruits()">Begin gathering wild fruits</button>
</div>
<div class="actions" *ngIf="showAskBeaverToRebuildDam()">
  <button id="ask-beaver-to-rebuild-dam-btn" class="action-btn" (click)="onAskBeaverToRebuildDam()">Please rebuild the dam so that the water from the river does not flood my mine.</button>
</div>
<div class="actions" *ngIf="showBeaverFishRequest()">
  <button id="beaver-fish-request-btn" class="action-btn" disabled>{{ getBeaverMessage() }}</button>
</div>
<div class="actions" *ngIf="showExchangeFruitsForCoin()">
  <button id="exchange-fruits-for-coin-btn" class="action-btn"
          (click)="onExchangeFruitsForCoin()"
          [disabled]="!canExchangeFruits()">
    {{ canExchangeFruits() ? 'Exchange fruits of the forest for golden coin' : 'Seller: "A fishing net costs 1 gold coin. I will give you golden coin if you bring me fruit of the forest."' }}
  </button>
</div>
<div class="actions" *ngIf="showExchangeFruitsForCoin()">
  <button id="exchange-coin-for-net-btn" class="action-btn"
          (click)="onExchangeCoinForNet()"
          [disabled]="!canExchangeCoinForNet()">
    {{ canExchangeCoinForNet() ? 'Exchange golden coin for fishing net' : 'Seller: "A fishing net costs 1 gold coin. You need a golden coin to buy a fishing net."' }}
  </button>
</div>
